<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<header>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item logo">Zodiac</li>
        <li class="navbar-item">Signs</li>
        <li class="navbar-item">Add New</li>
      </ul>
    </div>
  </nav>
</header>

<main></main>
<%- body %>
<footer></footer>
</body>
</html>