<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600,200" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/signs.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<header>
  <nav class="navbar">
    <div class="container">
     <div class="row">
      <ul class="navbar-list">
        <li class="navbar-item"><a href="/signs">SIGNS</a></li>
        <li class="navbar-item logo"><a href="/">ZODIAC</a></li>
        <li class="navbar-item"><a href="#">SCOPES</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <%- body %>
</main>

<footer></footer>
</body>
</html>