<div class="container">
  <div class="row">
    <% signs.forEach(function(sign){ %>
      <div class="four columns">
        <ul>
          <li><img class="sign-logo" src="<%= sign.image %>"></li>
          <li><%= sign.name %></li>
        </ul>
      </div>
    <% }); %>
  </div>
</div>